[Desktop Entry]
Encoding=UTF-8
Name=Link to pi.c Plik
Type=Link
URL=https://upel2.cel.agh.edu.pl/wfiis/mod/resource/view.php?id=19137
Icon=mate-fs-bookmark
